body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color);
    }
 a {text-decoration: none;}
 textarea{resize: none;}
 ul{list-style: none}
    h1,
    h2,
    h3,
    h4, 
    h5,
    h6,
    ul,
 p {margin: 0; padding: 0}
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    picture{
       width: 100%;
    }