.subscribe{
    // margin-left:93px;
    // display: flex;
    // align-items: flex-end;
    text-align: center;
@media screen and (min-width:768px){
    width: 100%;
    justify-content: center;
    flex-direction: column;
}    
&__email-send{
    // display: flex;
    // flex-direction: column;
}
&__label-email{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--background-color);
text-transform:uppercase;
}
&__input-email{
    width: 358px;
    height: 50px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left:16px;

    width: 100%;
}
&__input-email::placeholder{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
&__button-link{
    // display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    // margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--hero-button-background);
    color: var(--background-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
&__button-icon{
    margin-left: 10px;
}
}