.address-place{
@media screen and (max-width: 1200px){
    margin-bottom: 60px;}
@media screen and(min-width:320px) and (max-width: 1200px){
    text-align: center;
}
}
.address{
@media screen and(min-width:480px) and (max-width: 768px){
    text-align: center;
}
&__info{
    @media screen and (min-width: 1200px){
    width: 231px;
    }
    font-style: normal; /*destroed italic */
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--log);
    margin-bottom: 9px;
}
&__item:first-child{
    margin-bottom: 9px;
    }
&__link{
    font-style: normal; /*destroed italic */
    font-size: 14px;
    line-height: 1.71;
    color: var(--info);
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:focus, 
&__link:hover{
    color:var(--animation-links);
}
}
.join-place{
    @media screen and (max-width: 1200px){
        margin-bottom: 60px;
        text-align: center;
        }
    @media screen and (min-width: 1200px){
    margin-left: 70px;
    }
&__text{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--address); 
    text-transform:uppercase;
}
&__list{
    display: flex;
    @media screen and (min-width: 768px){
    align-items: center;
    }
    margin-top: 20px;
    justify-content: center;
}
& &__item:not(:last-child){
    margin-right: 10px;
}
&__item{
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
} 
&__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:hover, 
&__link:focus{
background-color: var(--animation-bottons);
cursor: pointer;
}
&__link-icon{
    display: flex;
    align-items: center;
    fill: var(--animation-button-focus);
}
}