:root {
    --border-color:#eeeeee;
    --border-color-header:#ECECEC;
    --background-color: #ffffff;
    --background-footer: #2F303A;
    --background-section-three: #F5F4FA;
    --portfolio-background:#ffffff;
    --text-color: #212121;
    --under-text-color: #757575;
    --animation-links: #2196F3;
    --animation-bottons: #2196F3;
    --buttons-background: #F5F4FA;
    --animation-button-focus:#ffffff;
    --logo: #2196F3; 
    --log:#ffffff;
    --address:#ffffff;
    --info:rgba(255, 255, 255, 0.6);
    --shadow-title: #ffffff;
    --background-hero: #2F303A;
    --hero-color:#ffffff;
    --hero-button-background:#2196F3;
    --hero-button-color:#ffffff;
    --border-name:#ffffff;
    --icon-background:#F5F4FA;
    --icon-names-color:#AFB1B8;
    --button-send-color:#188CE8;
    --black:#000000;
}